
# BEGIN INDEX
# Các nội dung nằm giữa "BEGIN INDEX" và "END INDEX" được tạo ra tự động, và chỉ nên được thay đổi thông qua các filter của WordPress. Mọi thay đổi tới thành phần này có thể sẽ bị mất và ghi đè.
Options -Indexes
# END INDEX